__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.env
.venv/
venv/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/features/*
!data/features/.gitkeep
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
.ipynb_checkpoints
*.csv
*.json
!requirements.txt
.pytest_cache/
.mypy_cache/
.ruff_cache/
